.app {
  margin: 20px;
}

.upload-file {
  display: none;
}

.button {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #49f;
  cursor: pointer;
  transition: background-color .3s;
  user-select: none;
}

.button:hover {
  background: #66b1ff;
}

.button:active {
  background: #3a8ee6;
}